@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);

/* general styles & color */

.main-content {
     padding: 10px 30px;
}

.footer-content {
    color: #E4E3E1;
    background-color: #2B3534;
}

/* typography */

body {
    font-family: 'Libre Baskerville', serif;
}

/* links */

.footer-content a {
    color: #E4E3E1;
    text-decoration: none;
    border:none;
}

.footer-content a:hover {
    text-decoration: none;
    color: #C0BDB9;
    border: none;
}

@media print {
  a[href]:after {
    content: none;
  }
}
