@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/*
   Colors from https://fabianburghardt.de/swisscolors/
   background: #e5e7de
   font: #0b3536
   link: #0098d8
   highlight: #f54123
 */

/* Sticky Footer */
html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded {
  height: 100%;
}

/* general styles & color */
.main-content {
  padding: 10px 30px;
}

.footer-content {
  color: #e5e7de;
  background-color: #0b3536;
}

footer h2 {
  color: #f54123;
}

/* typography */

body {
  font-family: Questrial;
  font-size: 1.25rem;
  color: #0b3536;
  background-color: #e5e7de;
}

/* links */
a, a:link, a:visited {
  text-decoration: none;
  color: #0098d8;
}

a:hover {
  border-bottom: 1px solid #0098d8;
}

#logo a {
  color: #f54123;
  text-decoration: none;
  border: none;
}

#logo a:hover {
  border-bottom: 1px solid #0098d8;
  color: #0098d8;
}

.footer-content a {
  color: #e5e7de;
  text-decoration: none;
  border:none;
}

.footer-content a:hover {
  text-decoration: none;
  color: #0098d8;
  border: none;
}

/* Featurettes */
.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> */
}

/* work with bootstrap's img-fluid to make a smaller image */
.stf-40 {
  max-width: 40%;
}

.btn-outline-primary {
  --bs-btn-border-color: #0098d8;
  --bs-btn-hover-color: #e5e7de;
  --bs-btn-hover-bg: #f54123;
}
