html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Georgia, "Times New Roman", serif;
    color:  #0D0302;
    background-color: #FFFFFF;
    margin-bottom: 275px;
}

.starter-template {
    padding: 10px 15px;
    text-align: left;
}

#logo {
    font-style: italic;
}


.footer {
    color: #E4E3E1;
    background-color: #2B3534;
}

/* link style */
a {
    color: #E73213;
    text-decoration: none;
}

a:hover {
    color: #E73213;
}

#logo a {
    color: #0D0302;
    text-decoration: none;
}

#logo a:hover {
    text-decoration: none;
    color: #0D0302;
}

.footer a {
    color: #E4E3E1;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    color: #C0BDB9;
}

/* Featurettes */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 275px;
}