body { 
       background-color: #ffffff;
       color: #222222;
       font-family: Georgia, "Times New Roman", serif;
       font-size: 62.5%;
}

* { 
    margin: 0px;
    padding: 0px;
}

/* Layout and Basic Color */

#container {
             width: 960px;
             margin: auto;
}

#header {
  width: 960px;
  height: 87px;
}

#logo
{ 
  width: 231px;
  height: 87px;

  float: left;
}
#logo p {
          margin: 5px 0;
          font-size: 4.0em;
          font-style: italic;
          line-height: 1.0em;
}

#blurb
{ 
  width: 475px;
  margin-left: 93px;
  float: left;
}

#blurb p
{ 
  margin: 5px 0;
}

#nav
{ 
  clear: both;
  width: 960px;
  margin-top: 60px;
}

#main
{ 
  clear: both;
  margin-top: 60px;
  width: 360px;
}

#footer
{ 
  margin-top: 60px;
  border-top: 1px solid #444444;
  
}

#footer1
{ 
  width: 224px;
  float: left;
}

#footer2, #footer3, #footer4
{ 
  width: 224px;
  float: left;
  margin-left: 20px;
}


/* Fonts and Typography */

/* Defaults */
h1
{ 
  font-size: 1.6em;
}

h2
{ 
  font-size: 1.5em;
}

h3
{ 
  font-size: 1.4em;
}

h4
{ 
  font-size: 1.3em;
}

h5
{ 
  font-size: 1.2em;
}

p
{ 
  font-size: 1.2em;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, p
{ 
  margin: 1em 0;
}

ul
{ 
  list-style-type: none;
}

#blurb p
{
  font-size: 1.2em;
  line-height: 1.6em;
}

#nav
{ 
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid #444444;
}

#nav ul
{ 
  list-style-image: none;
  list-style-type: none;
}

#nav ul li
{ 
  display: inline;
  margin-right: 20px;
}

#logo img
{ 
    border-style: none;
}

/* link style */

a
{
  color: #00757F;
  text-decoration: none;
}

a:hover
{
  color: #00757F;
  border-bottom: 1px solid #00757F;
}

/* todo fix links */
.delicious-posts h2 a:hover
{
  text-decoration: none;
  border-bottom: none;
}
