body
{ 
  background-color: #ffffff;
  color: #222222;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 62.5%;
}

*
{ 
  margin: 0px;
  padding: 0px;
}

/* Layout and Basic Color */
#footer
{
  height: 500px;
  margin-top: 60px;
  background-color: #E0D1B2;
}

/* Fonts and Typography */

/* Defaults */
h1
{font-size: 1.6em;}

h2
{font-size: 1.5em;}

h3
{font-size: 1.4em;}

h4
{font-size: 1.3em;}

h5
{font-size: 1.2em;}

p
{ 
  font-size: 1.2em;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, p
{ 
  margin: 1em 0;
}

ul
{ 
  list-style-type: none;
}
#logo
{
  font-size: 4.0em;
  font-style: italic;
  line-height: 1.0em;
  margin-top: 12px;
}

#blurb
{
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: italic;
}

#nav ul
{ 
  font-size: 1.2em;
  list-style-image: none;
  list-style-type: none;
}

/* link style */
a
{
  color: #96331C;
  text-decoration: none;
}

a:hover
{
  color: #96331C;
  border-bottom: 1px solid #96331C;
}

#logo a
{ 
  color: #222222;
  text-decoration: none;
}

#logo a:hover
{
  text-decoration: none;
  border-bottom: none;
}

#footer a
{ 
  color: #00757F;
}

#footer a:hover
{ 
  color: #00757F;
  border-bottom: 1px solid #00757F;  
}

.delicious-posts h2 a:hover
{
  text-decoration: none;
  border-bottom: none;
}

/* establish a grid */
.row
{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.column
{
  float: left;
  margin: 0 10px;
  overflow: hidden;
  display: inline;
  padding-bottom: 3px;
}

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }
