/* Sticky Footer */
html, body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
}

.page-row {
    display: table-row;
    height: 1px;
}

.page-row-expanded {
    height: 100%;
}

/* general styles & color */
.main-content {
     padding: 10px 30px;
}

body {
    color:  #0D0302;
    background-color: #FFFFFF;
}

.footer-content {
    color: #E4E3E1;
    background-color: #2B3534;
}

/* typography */

body {
    font-family: Georgia, "Times New Roman", serif;
}

#logo {
    font-style: italic;
}

/* links */

a, a:link, a:visited {
               border-bottom: 1px solid #ccc;
           }

a:hover {
    text-decoration: none;
    border-bottom: 1px solid #0074d9;
}

#logo a {
    color: #0D0302;
    text-decoration: none;
    border: none;
}

#logo a:hover {
    text-decoration: none;
    color: #0D0302;
}

.footer-content a {
    color: #E4E3E1;
    text-decoration: none;
    border:none;
}

.footer-content a:hover {
    text-decoration: none;
    color: #C0BDB9;
    border: none;
}

/* Featurettes */
.featurette-divider {
  margin: 60px 0; /* Space out the Bootstrap <hr> */
}